/*******************
Universal Code Start 
********************/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://github.com/Mehedi-Hasan-Himel/sahara-desert/blob/main/img/background.png?raw=true);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

/*******************
   Universal Code End 
********************/

/********************
   NavBar Start  
********************/

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  &__logo {
    width: 50px;
    cursor: pointer;
  }
  &__nav {
    flex: 1;
    text-align: right;
    ul li {
      list-style: none;
      display: inline-block;
      margin-left: 60px;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
      }
    }
  }
  &__menu-icon {
    width: 30px;
    cursor: pointer;
    margin-right: 40px;
  }
}

/*******************
   NavBar End  
********************/

/*******************
   Card section Start  
********************/

.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
h1 {
  color: #fff;
  font-size: 100px;
}
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  &:hover {
    transform: translateY(-10px);
  }
}
h5 {
  color: black;
  text-shadow: 0 0 5px white;
}
p {
  color: white;
  text-shadow: 0 0 5px black;
}
.card-1 {
  background-image: url(https://github.com/Mehedi-Hasan-Himel/sahara-desert/blob/main/img/pic-1.png?raw=true);
}
.card-2 {
  background-image: url(https://github.com/Mehedi-Hasan-Himel/sahara-desert/blob/main/img/pic-3.png?raw=true);
}
.card-3 {
  background-image: url(https://github.com/Mehedi-Hasan-Himel/sahara-desert/blob/main/img/pic-2.png?raw=true);
}
.card-4 {
  background-image: url(https://github.com/Mehedi-Hasan-Himel/sahara-desert/blob/main/img/pic-4.png?raw=true);
}
/*******************
   Card section End  
********************/
